/*** FONTS ***/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&family=Shrikhand&display=swap');

/*** RESET ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** Color ***/

$grey:#eaeaea;
$green-mint:#99e2d0;

/*** Mixin ***/

@mixin inside-btn {
    font-size: 1.5em;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient(#9f5adc,#d66cda);
    color: #ffffff;
}

/*** General ***/

body{
    box-sizing: border-box;
    max-width: 1440px;
    margin: auto;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/*** Title ***/

h1{
    font-family: 'Shrikhand', cursive;
    font-size: 1.6em;
    display: flex;
    margin: auto;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    padding-top: 25px;
    margin-left: 30px;
    margin-bottom: 15px;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

h4{
    font-family: 'Shrikhand', cursive;
    font-size: 1.2em;
    padding-top: 25px;
    margin-bottom: 25px;
}

h5{
    border-bottom: 5px solid $green-mint;
    margin-left: 25px;
    padding-bottom: 7px;
    font-size: 1.2em;
    width: 10%;
    font-family: 'Roboto', sans-serif;
}

h6{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin-left: 13px;
    margin-top: 18px;
    padding-top: 15px;
}

/*** Head ***/

.title{
    border-top: 2px solid black;
    display: flex;
    height: 60px;
}

.localisation{
    display: flex;
    height: 50px;
    background-color: $grey;
    border-top: 2px solid #cecece;
    color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loc{
    margin-right: 15px;
}

.localisation p{
    font-family: 'Roboto', sans-serif;   
}

.intro{
    background-color: #f6f6f6;
    height: 285px;
}

.placement-reserved{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.reserved{
    font-size: 1.7em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;  
    text-align: center;
    margin-top: 40px;
}

.details{ 
    font-size: 1.25em;
    text-align: center;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.icone-search{
    margin-left: 20px;
    margin-right: 20px;
    height: 45px;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    @include inside-btn;
    margin-top: 30px;
    border-style: none;
    box-shadow: 0px 0px 15px #c6c6c6;
}

.btn p{
    font-size: 0.8em;
    margin-right: 20px;
    margin-left: 20px;
}

.btn2{
    border: 1px solid #d9d9d9;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #e7e7e7;
    font-size: 1.2em;
    z-index: 0;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 15px #c6c6c6;
}

.txt-fonction{
    padding-right: 70px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.btn2:hover{
    background-color: #f5edff;
    color: #9356dc;
    .emoji{
        color: #9356dc;
    }
}

.number{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 361px;
    background-color: #9356dc;
}


.placement-btn3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn3{
    @include inside-btn;
    margin-top: 45px;
    border-style: none;
    margin-bottom: 60px;
}

.emoji{
    color: #7e7e7e;
    z-index: 1;
    margin-left: 30px;
    margin-right: 25px;
}

/*.emoji, p:hover{
    color: #9356dc;
}*/

/*** Card ***/

.menu{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #ffffff;
}

figcaption a{
    width: 90%;
}

.thumbnail{
    background-color: white;
    border-radius: 15px;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 0px 0px 15px #c6c6c6;
    position: relative;
    z-index: 0;
}

.placement-new{
    justify-content: flex-end;
    display: flex;
    margin-right: 10px;
}

.news{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: $green-mint;
    color: #008766;
    width: 95px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    margin-left: 275px;
}

figure{
    background-color: #efefef;
    margin-top: 65px;
}

figcaption{
    box-shadow: 0px 0px 15px #e5e5e5;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txtimg{
    margin: 12px;
}

.txtimg p{
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.pos-name-resto{
    display: flex;
    justify-content: space-between;
}

.last{
    padding-bottom: 62px;
}

.like{  
    font-size: 1.8em;
    margin-right: 25px;
}

.like:hover{
   
}

/*** Card Restaurant ***/

.main {
    background-color: #f6f6f6;
}

.arrow{
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}

.card h2{
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    font-family: 'Shrikhand', cursive;
}

.bg_card{
    object-fit: cover;
    max-height: 450px;
    width: 100%;
    z-index: 0;
    position: relative;
}

.card{
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    z-index: 1;
    position: relative;
    bottom: 35px;
    background-color: #f6f6f6;
}

.heart-card{
    margin-right: 35px;
}
.flat{
    box-shadow: 0px 0px 15px #e8e8e8;
    padding-bottom: 5px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 14px;
    margin-top: 14px;
    border-radius: 15px;
    height: 70px;
}

.desc-flat{
    margin-right: 13px;
    margin-left: 13px;
    display: flex;
    justify-content: space-between;
}

.desc-flat p{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}
.price{
    font-weight: bold;
}

/*** Footer ***/

footer{
    background-color:#353535;
}

.foot{
    color: white;
    margin-left: 24px;

    .info{
        display: flex;
        padding-bottom: 12px;
    }
}

.footer-emoji{
    margin-right: 10px;
}